.navbar {
    max-width: 1440px;
    height: 100px;
    background-color: black;
}

.links {
    text-align: right;
    padding: 20px 0;
}
.links a {
    color: white;
    margin-right: 20px;
    font-size: 30px;
    text-decoration: none;
}

