.searchInputs {
    width: 420px;
    height: 58px;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: #003F62;
}

.searchInputs {
    display: flex;
}

.search {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    background-color: #003F62;
    height: 100px;
    padding: 20px 0;
}

.signInHeart {
    display: flex;
    gap: 30px;
    color: white;
    padding: 10px 0;
}

.search img {
    width: 180px;
    height: 60px;
}